
/*

  - Layout 
  - Navigation
        - button
        - links 
  - Form and Input 
        - inline
        - horizontal
        - form group
        - input group
        - input error helper
  - Table 
  - Frame and Panel
        -   frame
        -   small frame
        -   extra small frame
  
  - Header Structure
      
  - Helper
    
*/


/* 
Reset Element 
===========================*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

mark {
    color: #000;
    background: #ff0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

button,
input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {overflow-y: scroll}




/*******************
  default element structure
**************/
body {
    width:  100%;
    font-family: 'Helvetica','Arial',sans-serif;
    margin: 0 auto;
    background: url('../imgs/earth.jpg') top center;
    background-size: cover;
    background-attachment: fixed;

    /*dark screen*/
    font-size: 12px;
    color:whitesmoke;
    line-height: 1.428571429;
}

/* 
    standard element
=================================*/
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}


h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/*
  Typhography Helper
=================================================*/
.text-lg {
    font-size: 18px !important;
}

.text-primary {
    color: #428bca;
}

.text-warning {
    color: #c09853;
}

.text-danger {
    color: #b94a48;
}

.text-success {
    color: #468847;
}

.text-info {
    color: #3a87ad;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}



/*************************************
  Background Color
*************************************/

/*******************************
    Etmas Grid System 
******************************************************/
.container {
    width: 1200px;
    padding: 10px 5px;
    margin: 0 auto;
}

.container:after,
.container:before {
    content:"";
    display: table;
}

.container-top-space {
    padding-top: 55px !important;
}

.container-popup {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 999;
}


.row {
    width: 100%; 
    margin: 0 auto;
}

.row:after,
.row:before {
    clear: both; 
    content: ""; 
    display: table;
}

.row 
.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float:left;
}


.row .col-1 {width: 8.333333333333332%;}
.row .col-2 {width: 16.666666666666664%;}
.row .col-3 {width: 25%;}
.row .col-4 {width: 33.33333333333333%}
.row .col-5 {width: 41.66666666666667%;}
.row .col-6 {width: 50%;}
.row .col-7 {width: 58.333333333333336%;}
.row .col-8 {width: 66.66666666666666%;}
.row .col-9 {width: 75%;}
.row .col-10 {width: 83.33333333333334%;}
.row .col-11 {width: 91.66666666666666%;}
.row .col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.333333333333332%;}
.col-offset-2 {margin-left: 16.666666666666664%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33333333333333%;}
.col-offset-5 {margin-left: 41.66666666666667%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.333333333333336%;}
.col-offset-8 {margin-left: 66.66666666666666%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33333333333334%;}
.col-offset-11 {margin-left: 91.66666666666666%;}

/*
  media queries
*/
@media (min-width: 1200px) {
    .container {
        padding: 10px 5px;
        max-width:  1400px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1200px;
        padding: 10px 0px;
    }

    .col-push-1 {
        left: 8.333333333333332%;
    }
    .col-push-2 {
        left: 16.666666666666664%;
    }
    .col-push-3 {
        left: 25%;
    }
    .col-push-4 {
        left: 33.33333333333333%;
    }
    .col-push-5 {
        left: 41.66666666666667%;
    }
    .col-push-6 {
        left: 50%;
    }
    .col-push-7 {
        left: 58.333333333333336%;
    }
    .col-push-8 {
        left: 66.66666666666666%;
    }
    .col-push-9 {
        left: 75%;
    }
    .col-push-10 {
        left: 83.33333333333334%;
    }
    .col-push-11 {
        left: 91.66666666666666%;
    }
    .col-pull-1 {
        right: 8.333333333333332%;
    }
    .col-pull-2 {
        right: 16.666666666666664%;
    }
    .col-pull-3 {
        right: 25%;
    }
    .col-pull-4 {
        right: 33.33333333333333%;
    }
    .col-pull-5 {
        right: 41.66666666666667%;
    }
    .col-pull-6 {
        right: 50%;
    }
    .col-pull-7 {
        right: 58.333333333333336%;
    }
    .col-pull-8 {
        right: 66.66666666666666%;
    }
    .col-pull-9 {
        right: 75%;
    }
    .col-pull-10 {
        right: 83.33333333333334%;
    }
    .col-pull-11 {
        right: 91.66666666666666%;
    }
}




/* 
  Frame and Panel
=================================*/
.frame,.frame-sm,.frame-es {
    margin: 0px auto;
    background-color: rgba(146, 142, 142, 0.02);
    border: 1px solid rgb(95, 70, 70);
    position: relative;
}

.frame {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -mox-border-radius: 20px;

    -moz-box-shadow: 
        0px 2px 5px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 8px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 3px rgb(0, 0, 0) inset, 
        0px -5px 5px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 5px rgba(0,0,0,.5) inset;
    -webkit-box-shadow: 
        0px 2px 5px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 8px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 3px rgb(0, 0, 0) inset, 
        0px -5px 5px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 5px rgba(0,0,0,.5) inset;
    box-shadow:
        0px 2px 5px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 8px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 3px rgb(0, 0, 0) inset, 
        0px -5px 5px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 5px rgba(0,0,0,.5) inset;

    min-height: 650px;
}

/*
    Frame size
================================*/
.frame-sm {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -mox-border-radius: 10px;
    padding: 12px 8px;
    -moz-box-shadow: 
        0px 2px 3px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 4px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 2px rgb(0, 0, 0) inset, 
        0px -5px 3px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 3px rgba(0,0,0,.5) inset;
    -webkit-box-shadow: 
        0px 2px 3px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 4px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 2px rgb(0, 0, 0) inset, 
        0px -5px 3px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 3px rgba(0,0,0,.5) inset;
    box-shadow:
        0px 2px 3px rgba(0, 0, 0, 0.91) inset, 
        0px 5px 4px rgba(250, 249, 248, 0.54) inset, 
        3px 0px 2px rgb(0, 0, 0) inset, 
        0px -5px 3px rgba(250, 249, 248, 0.54) inset, 
        0px -2px 3px rgba(0,0,0,.5) inset;
}

.frame-es {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    padding: 8px 4px;
    -moz-box-shadow: 
        0px 1px 2px rgba(0, 0, 0, 0.91) inset, 
        0px 3px 2px rgba(250, 249, 248, 0.54) inset, 
        1px 0px 2px rgb(0, 0, 0) inset, 
        0px -3px 2px rgba(250, 249, 248, 0.54) inset, 
        0px -1px 2px rgba(0,0,0,.5) inset;
    -webkit-box-shadow: 
        0px 1px 2px rgba(0, 0, 0, 0.91) inset, 
        0px 3px 2px rgba(250, 249, 248, 0.54) inset, 
        1px 0px 2px rgb(0, 0, 0) inset, 
        0px -3px 2px rgba(250, 249, 248, 0.54) inset, 
        0px -1px 2px rgba(0,0,0,.5) inset;
    box-shadow:
        0px 1px 2px rgba(0, 0, 0, 0.91) inset, 
        0px 3px 2px rgba(250, 249, 248, 0.54) inset, 
        1px 0px 2px rgb(0, 0, 0) inset, 
        0px -3px 2px rgba(250, 249, 248, 0.54) inset, 
        0px -1px 2px rgba(0,0,0,.5) inset;
}

.frame-sm .small-icon-dialog-close,
.frame-es .small-icon-dialog-close
{
    position: absolute;
    top: 8px;
    right: 6px;
}

.frame-es .small-icon-dialog-close {
    width: 20px;
    height: 20px;
}

.frame-sm > .title,
.frame-es > .title {
    height: 25px;
}

.frame-sm > .title h5,
.frame-es > .title h5 {
    margin: 0px auto;
    padding: 0px auto;
}

/* Base Panel
================*/
.panel {
    background-color:  rgba(255, 255, 255, 0.67);
    box-shadow: 2px 0px 3px rgba(0,0,0,.4), 0px -1px 2px rgba(0,0,0,.4) inset;
    padding:  10px;
    width: 100%;
    color: #353;
    position: relative;
}

.panel:before,
.panel:after {
    content: "";
    display: table;
    clear:both;
}

/*panel sizes*/
.panel-sm {
    width: 220px;
    height: 50px;
    overflow: auto; 
}

.panel-solid {
    background: #d6cccc;
    border: 3px solid #e3e3e3;
    padding: 5px;
}

/* panel color */
.panel-white {
    background-color: white;
    color: gray;
}

.panel-gray {
    background: gray;
    color: #fff;
}


/* panel border */
.panel-right-curve {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;

    -moz-border-top-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
}

.panel-left-curve {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;

    -moz-border-top-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
}



/* 
  other helper container
======================================= */
.sidebar-nav {
    margin-top:15px;
    padding: 5px 10px;
}

/* Height helper for container*/
.fix-height {height: 650px  !important; }
.dynamic-height {min-height: 650px  !important;}
.flex-height {height: 100%  !important; }



/* new line margin*/
.bottom-space { margin-bottom: 18px !important;}
.top-space { margin-top: 18px !important;}


/*
    Header and footer
======================================*/
.header {
    width: 100%;
    position:relative;
}
.navbar-top {
    margin: 0 auto;
    padding:0px;
    min-height: 70px;
}

    .navbar-top .logo {
        float: left;
        width: 70px;
        height: 70px;
        padding: 5px;
    }

    .navbar-top .title {
        float:left;
        padding:0px;
        line-height: 1.3em;
        margin: 15px 0px 0px;
        display: table-cell;
    }

    .navbar-top .login-info {
        float:right;
        padding:0px;
        position:relative;
    }

        .navbar-top .login-info .logo {
            width:150px;
            height: 71px;
            margin: 0px auto;
            display: block;
        }

        .navbar-top .login-info .label {
            position: absolute;
            top:30px;
            left: 0px;
            width: 100%;
        }

.green-gradient-header {
    background: rgb(165,239,81); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(165,239,81,1) 0%, rgba(51,41,10,1) 51%, rgba(165,239,81,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(165,239,81,1)), color-stop(51%,rgba(51,41,10,1)), color-stop(99%,rgba(165,239,81,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(165,239,81,1) 0%,rgba(51,41,10,1) 51%,rgba(165,239,81,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(165,239,81,1) 0%,rgba(51,41,10,1) 51%,rgba(165,239,81,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(165,239,81,1) 0%,rgba(51,41,10,1) 51%,rgba(165,239,81,1) 99%); /* IE10+ */
    background: linear-gradient(to right,  rgba(165,239,81,1) 0%,rgba(51,41,10,1) 51%,rgba(165,239,81,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5ef51', endColorstr='#a5ef51',GradientType=1 ); /* IE6-9 */
    padding: 1px 0px;
    text-align: center;
    vertical-align:  central;
    color: white;
}

.red-gradient-header {
    background: rgb(228,81,77); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(228,81,77,1) 0%, rgba(211,75,71,1) 25%, rgba(51,41,10,1) 53%, rgba(210,75,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228,81,77,1)), color-stop(25%,rgba(211,75,71,1)), color-stop(53%,rgba(51,41,10,1)), color-stop(100%,rgba(210,75,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(228,81,77,1) 0%,rgba(211,75,71,1) 25%,rgba(51,41,10,1) 53%,rgba(210,75,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(228,81,77,1) 0%,rgba(211,75,71,1) 25%,rgba(51,41,10,1) 53%,rgba(210,75,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(228,81,77,1) 0%,rgba(211,75,71,1) 25%,rgba(51,41,10,1) 53%,rgba(210,75,71,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(228,81,77,1) 0%,rgba(211,75,71,1) 25%,rgba(51,41,10,1) 53%,rgba(210,75,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4514d', endColorstr='#d24b47',GradientType=1 ); /* IE6-9 */
    text-align: center;
    vertical-align:  central;
    color: white;
    width: 100%;
}




/*********************************
    Form and Inputs
============================================**/
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal;
}

input[type="file"] {
    display: block;
}

select[multiple],
select[size] {
    height: auto;
}

select optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height: auto;
}

.form-control:-moz-placeholder {color: #999999;}
.form-control::-moz-placeholder {color: #999999;}
.form-control:-ms-input-placeholder {color: #999999;}
.form-control::-webkit-input-placeholder {color: #999999;}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.228571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
}


.radio,
.checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.radio label,
.checkbox label {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

/* Input Sizes
--------------------------------*/
.input-lg, 
.input-es,
.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 30px;
}

.input-es {width: 30px;}
.input-sm {width: 99px;}
.input-lg {width:180px;}
.input-el {width:250px;}

select.input-sm {
    width:60px;
}


/*
  Errors and Warning and Helper input
------------------------*/
.has-warning .help-block,
.has-warning .control-label {
    color: #c09853;
}

.has-warning .form-control {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.has-warning .input-group-addon {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}

.has-error .help-block,
.has-error .control-label {
    color: #b94a48;
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

.has-success .help-block,
.has-success .control-label {
    color: #468847;
}

.has-success .form-control {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}



/* input grouping
----------------*/
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group.col {
    float: none;
    padding-right: 0;
    padding-left: 0;
}

.input-group .form-control {
    width: 100%;
    margin-bottom: 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-addon:last-child {
    border-left: 0;
}

.form-group {
    margin-bottom: 15px;
}


.form-inline .form-control,
.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
}


.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
}

.form-inline > .form-group > label { margin-right: 5px;}
.form-inline > .form-group {
    margin-right: 15px;
}
.form-inline > .form-group:last-child {
    margin-left: 0px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}


.form-horizontal .control-label,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 6px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: table;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: table;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}





/***********************************
    Table and list Style
************************************/
.tbl {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}

.row-selector > tbody > tr,
.row-selector-green > tbody > tr, 
.row-selector-red > tbody > tr
{
    cursor: pointer;
}

.row-selector-green tbody tr:hover {
    background: green;
    color:  whitesmoke;
}

.row-selector-red tbody tr:hover {
    background: red;
    color:whitesmoke;
}

.row-selector tbody tr:hover {
    background: rgba(9, 85, 114, 0.67);
    color:  whitesmoke;
}

.row-selector-red tbody tr.selected {
    background: red;
}

.row-selector-green tbody tr.selected {
    background: green;
}

.row-selector tbody tr.selected 
 {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.tbl-col-selector th {
    cursor: pointer;
}

.tbl-col-selector-na {
    cursor: default !important;
}

.tbl-container {color:  rgb(16,16,16);}
.tbl-container th {
    text-align: center;
    border-bottom:  1px solid whitesmoke;
    padding: 5px 3px;
}

.tbl-container td {
    border-bottom:  1px solid rgb(224, 205, 205);
    padding: 7px 3px;
}



.blue-theme  {
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: white;
    border:  1px solid whitesmoke;
    padding:  5px 0px;
    text-align: center;
}

.orange-banner {
    background: rgb(238,153,73); /* Old browsers */
    color:  white;
    text-align:  center;
    border:  1px solid gray;
}

.violet-gradient-banner {
    background: #8361ab; /* Old browsers */
    background: -moz-linear-gradient(left, #8361ab 0%, #8160a7 0%, #8161a8 1%, #b4a2ca 25%, #614e78 44%, #503c67 48%, #4c3863 50%, #4e3b65 51%, #58446f 54%, #b4a2ca 75%, #8160a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8361ab), color-stop(0%,#8160a7), color-stop(1%,#8161a8), color-stop(25%,#b4a2ca), color-stop(44%,#614e78), color-stop(48%,#503c67), color-stop(50%,#4c3863), color-stop(51%,#4e3b65), color-stop(54%,#58446f), color-stop(75%,#b4a2ca), color-stop(100%,#8160a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* IE10+ */
    background: linear-gradient(to right, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8361ab', endColorstr='#8160a7',GradientType=1 ); /* IE6-9 */
    color:  white;
    border:  1px solid gray;
    text-align:  center;
}

/*Radial Theme Style*/
.tbl-violet-radial {
    width: 100%;
}
.tbl-violet-radial th,.tbl-violet-radial td {
    padding:  5px 0px;
    border:  2px solid gray;
    color:  white;
}
.tbl-violet-radial td {
    background: transparent;
    color: black;
}
.tbl-violet-radial th {
    background: #8361ab; /* Old browsers */
    background: -moz-linear-gradient(left, #8361ab 0%, #8160a7 0%, #8161a8 1%, #b4a2ca 25%, #614e78 44%, #503c67 48%, #4c3863 50%, #4e3b65 51%, #58446f 54%, #b4a2ca 75%, #8160a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8361ab), color-stop(0%,#8160a7), color-stop(1%,#8161a8), color-stop(25%,#b4a2ca), color-stop(44%,#614e78), color-stop(48%,#503c67), color-stop(50%,#4c3863), color-stop(51%,#4e3b65), color-stop(54%,#58446f), color-stop(75%,#b4a2ca), color-stop(100%,#8160a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* IE10+ */
    background: linear-gradient(to right, #8361ab 0%,#8160a7 0%,#8161a8 1%,#b4a2ca 25%,#614e78 44%,#503c67 48%,#4c3863 50%,#4e3b65 51%,#58446f 54%,#b4a2ca 75%,#8160a7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8361ab', endColorstr='#8160a7',GradientType=1 ); /* IE6-9 */
}

.darkblue-gradient-banner {
    background: rgb(108,31,167); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(108,31,167,1) 0%, rgba(18,31,91,1) 40%, rgba(18,31,91,1) 55%, rgba(113,40,168,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(108,31,167,1)), color-stop(40%,rgba(18,31,91,1)), color-stop(55%,rgba(18,31,91,1)), color-stop(100%,rgba(113,40,168,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(108,31,167,1) 0%,rgba(18,31,91,1) 40%,rgba(18,31,91,1) 55%,rgba(113,40,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(108,31,167,1) 0%,rgba(18,31,91,1) 40%,rgba(18,31,91,1) 55%,rgba(113,40,168,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(108,31,167,1) 0%,rgba(18,31,91,1) 40%,rgba(18,31,91,1) 55%,rgba(113,40,168,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(108,31,167,1) 0%,rgba(18,31,91,1) 40%,rgba(18,31,91,1) 55%,rgba(113,40,168,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c1fa7', endColorstr='#7128a8',GradientType=1 ); /* IE6-9 */
    color: whitesmoke;
}


/***********************
   images and icon pack
*************************/
.logo_holder {
    float: left;
    color: whitesmoke;
    width:  300px;
}

.logo_holder img {
    float: left;
    margin-right: 10px;
}

.img-logo-title {width: 150px; height: 71px; margin: 0px auto; display:block}
.img-small-logo {width: 30px; height: 30px; margin: 0px auto;}
.img-mini-logo {width: 20px; height: 20px; margin: 0px auto;}
.img-menu-size {width: 50px; height: 50px; margin: 0px auto;}
.img-pointer {cursor: pointer}

.form-icon {width: 20px; height: 20px; cursor: pointer}
[class*='mini-icon'] {width: 10px; height: 10px; display:inline-block; background-position: center top; background-repeat: no-repeat; background-size: cover}
.mini-icon-activate {background-image:  url(../imgs/green48.png);}
.mini-icon-inactive {background-image:  url(../imgs/red48.png);}
.mini-icon-suspended {background-image:  url(../imgs/orange48.png);}
.mini-icon-dropdown {background-image:  url(../imgs/arrow_down16.png);}
.mini-icon-hold {background-image:  url(../imgs/circle_blue.png);}
.mini-icon-gtsign {background-image:  url(../imgs/nav_right.png);}

[class*='small-icon'] {width: 25px; height: 25px; display:inline-block; background-position: 1px 2px ; background-repeat: no-repeat; background-size: cover }
.small-icon-addnew {background-image:  url(../imgs/_active__add.png);}
.small-icon-edit {background-image:  url(../imgs/pencil48.png);}
.small-icon-delete {background-image:  url(../imgs/_active__no.png);}
.small-icon-save {background-image:  url(../imgs/save_form.png);}
.small-icon-activate {background-image:  url(../imgs/green48.png);}
.small-icon-inactive {background-image:  url(../imgs/red48.png);}
.small-icon-suspended {background-image:  url(../imgs/orange48.png);}
.small-icon-suspend {background-image:  url(../imgs/orange48.png);}
.small-icon-help {background-image:  url(../imgs/question.png);}
.small-icon-family {background-image:  url(../imgs/family.png);}
.small-icon-general {background-image:  url(../imgs/general.png);}
.small-icon-launch {background-image:  url(../imgs/launch.png);}
.small-icon-deactivate {background-image:  url(../imgs/deactivate.png);}
.small-icon-hold {background-image:  url(../imgs/hold.png);}
.small-icon-close {background-image:  url(../imgs/_active__no.png);}
.small-icon-dialog-close {background-image: url('../imgs/3222.png');}
.small-icon-archive {background-image:  url(../imgs/archive.png);}
.small-icon-approval {background-image:  url(../imgs/3221.png);}
.small-icon-contract {background-image:  url(../imgs/documents_folder_black.png);}
.small-icon-covernote {background-image:  url(../imgs/654.png);}
.small-icon-receipt {background-image:  url(../imgs/coins.png);}
.small-icon-certificate {background-image:  url(../imgs/654.png);}
.small-icon-schedule {background-image:  url(../imgs/participation_form.png);}
.small-icon-endorsement {background-image:  url(../imgs/participation_form.png);}
.small-icon-agentfee {background-image:  url(../imgs/add_lawyer.png);}
.small-icon-pal {background-image:  url(../imgs/options128.png);}
.small-icon-ual {background-image:  url(../imgs/user_group48.png);}
.small-icon-class {background-image:  url(../imgs/3086.png);}
.small-icon-staggered {background-image:  url(../imgs/coins.png);}
.small-icon-benefits {background-image:  url(../imgs/3238.png);}
.small-icon-benefits-subrate {background-image:  url(../imgs/652.png);}
.small-icon-condition {background-image:  url(../imgs/conditions.png);}
.small-icon-all {background-image:  url(../imgs/globe123.png);}
.small-icon-forward {background-image:  url(../imgs/pga_next.png)}
.small-icon-forward,a.small-icon-back {cursor: pointer}
.small-icon-back {background-image:  url(../imgs/pga_prev.png)}
.small-icon-download {background-image: url(../imgs/prod_cust.jpg)}
.small-icon-attached {background-image: url(../imgs/attach_icon.png)}
.small-icon-charges {background-image: url(../imgs/supplementary_charges.png)}
.small-icon-search {background-image: url(../imgs/pga_search.png)}
.small-icon-fire-occupation {background-image: url(../imgs/fire_icon.jpg)}
.small-icon-commercial-vehicle {background-image: url(../imgs/comm_veh.png)}
.small-icon-private-vehicle {background-image: url(../imgs/car_moto.png)}
.small-icon-vehicle {background-image: url(../imgs/car_rates.png)}
.small-icon-product {background-image: url(../imgs/3238.png)}
.small-icon-refresh {background-image: url(../imgs/3230.png)}

[class*='mid-icon'] {width: 35px; height: 35px; display:inline-block; background-position: 0px 5px; background-repeat: no-repeat; background-size: cover }
.mid-icon-dept {background-image:  url(../imgs/organization128.png);}
.mid-icon-roles {background-image:  url(../imgs/groups123.png);}
.mid-icon-uac {background-image:  url(../imgs/keys48.png);}
.mid-icon-ssa {background-image:  url(../imgs/Users-256.png);}


[class*='menu-icon'] {width: 25px; height: 25px; background-position: 1px 2px ; background-repeat: no-repeat; background-size: cover }
.menu-icon-accounts-payment {background-image: url(../imgs/ControlPanel-icon.png)}



/**************************
    button style and tab style framework  
    created for etmas 
    - button base
    - button themes
    - button size
    - button block
    - state
    - tags - a,button,input type=['submit,button']

    types of button
    - dark button
    - blue
    - red
    - icon button 
    Ver 1.0
******************************************************************/
.btn-group {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 5px 0px;
}

.btn-group-left {
    text-align: left !important;
}

.btn-group-right {
    text-align: right !important;
}

.btn-tab-group,
.btn-tab-group-sm {
    position: absolute;
    width: 100%;
    left:0px;
}

.btn-tab-group {
    top:-45px;
    height: 45px;
}

.btn-tab-group-sm {
    top:-30px;
    height: 30px;
}



.btn-selected {
    background-color: #3A3030 !important;
     transition: all 0.3s;
    -webkit-transition: all 0.3s; 
}




.btn {
    cursor: pointer; 
    display:inline-block; 
    position: relative; 
    width: 125px; 
    text-align: left; 
    padding: 5px 5px; 
    margin: 0px;
    font-size: 12px;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.btn-sm {width:90px;}
.btn-lg { width: 220px;}
.btn-auto {width: auto;}
.btn-rounded {border-radius: 5px; border: 1px solid gray;}
.btn-block {display: block;}
.btn-center {text-align: center}

.pointer {cursor: pointer   !important;}

.btn-dark  {
    background: #000;
    border-bottom: 1px solid rgb(88, 73, 73);
    border-top: 1px solid rgb(88, 73, 73);
    border-left: 1px solid rgb(95, 70, 70);
    border-right: 1px solid rgb(95, 70, 70);
    min-height: 40px;
    line-height: 2.3em;
    font-size: 11px;
    font-style: italic;
    color: whitesmoke;
}

.btn-dark:after{
    content: "";  
    border: 1px solid rgb(34,28,28);
    width:  100%; height: 98%; 
    top:  0px;  left:  0px;
    display: block;
    position: absolute;
    box-shadow: 2px 2px 3px rgb(63, 49, 49) inset;
    clear: both;
}

.btn-dark span {
    float: left;
    margin-right: 5px;
}

.btn-dark label {
    float: left;
    margin-top: 4px;    
}


.btn-dark:hover {
    background-color:rgba(0, 0, 0, 0.5);
    color:gray;
}
.btn-dark:active {
    top: 1px;
    left: 1px;
    color:yellow;
}

.btn-group .btn-dark {
    margin-bottom: 8px;
}




.btn-tab-group .btn-poly {
    height: 45px;
    margin-right: 3px;
}


.btn-poly { 
    background: rgba(104, 104, 104, 0.71);
    box-shadow: 0px 2px 5px rgba(200,200,200,.90) inset;
    border-top-right-radius: 20px;
    line-height: 3.2em;
    color: whitesmoke;
    
}

.btn-poly > span {
    left:0; 
    margin-right: 5px;
    min-height: 35px;
}



.btn-poly:hover {
    color: #ccc;
}

.btn-poly-solid {
    border-top-right-radius: 18px;
    background-color: rgb(89, 89, 89) !important;  
    padding: 3px 0px;
    height: 38px;
    padding: 12px 0px 0px 2%;
    margin-right: 2px;
    border: 1px solid gray;
}
.btn-poly-solid h3,.et-btn-poly-solid h4 {color: whitesmoke; text-align:left;}

.btn-flat {
    background: #87CEFA;
    padding:  5px;
    margin-right: 8px;
    color:  black;
}

.btn-flat.selected {
    background: rgb(82,166,190); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(82,166,190,1) 0%, rgba(91,236,255,1) 2%, rgba(131,255,255,1) 4%, rgba(133,255,255,1) 7%, rgba(112,247,255,1) 9%, rgba(95,230,255,1) 11%, rgba(83,217,253,1) 13%, rgba(64,193,228,1) 17%, rgba(61,189,223,1) 20%, rgba(58,180,214,1) 39%, rgba(50,156,184,1) 85%, rgba(43,142,167,1) 91%, rgba(45,139,163,1) 93%, rgba(51,140,163,1) 96%, rgba(56,137,158,1) 98%, rgba(48,113,131,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,166,190,1)), color-stop(2%,rgba(91,236,255,1)), color-stop(4%,rgba(131,255,255,1)), color-stop(7%,rgba(133,255,255,1)), color-stop(9%,rgba(112,247,255,1)), color-stop(11%,rgba(95,230,255,1)), color-stop(13%,rgba(83,217,253,1)), color-stop(17%,rgba(64,193,228,1)), color-stop(20%,rgba(61,189,223,1)), color-stop(39%,rgba(58,180,214,1)), color-stop(85%,rgba(50,156,184,1)), color-stop(91%,rgba(43,142,167,1)), color-stop(93%,rgba(45,139,163,1)), color-stop(96%,rgba(51,140,163,1)), color-stop(98%,rgba(56,137,158,1)), color-stop(100%,rgba(48,113,131,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(82,166,190,1) 0%,rgba(91,236,255,1) 2%,rgba(131,255,255,1) 4%,rgba(133,255,255,1) 7%,rgba(112,247,255,1) 9%,rgba(95,230,255,1) 11%,rgba(83,217,253,1) 13%,rgba(64,193,228,1) 17%,rgba(61,189,223,1) 20%,rgba(58,180,214,1) 39%,rgba(50,156,184,1) 85%,rgba(43,142,167,1) 91%,rgba(45,139,163,1) 93%,rgba(51,140,163,1) 96%,rgba(56,137,158,1) 98%,rgba(48,113,131,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(82,166,190,1) 0%,rgba(91,236,255,1) 2%,rgba(131,255,255,1) 4%,rgba(133,255,255,1) 7%,rgba(112,247,255,1) 9%,rgba(95,230,255,1) 11%,rgba(83,217,253,1) 13%,rgba(64,193,228,1) 17%,rgba(61,189,223,1) 20%,rgba(58,180,214,1) 39%,rgba(50,156,184,1) 85%,rgba(43,142,167,1) 91%,rgba(45,139,163,1) 93%,rgba(51,140,163,1) 96%,rgba(56,137,158,1) 98%,rgba(48,113,131,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(82,166,190,1) 0%,rgba(91,236,255,1) 2%,rgba(131,255,255,1) 4%,rgba(133,255,255,1) 7%,rgba(112,247,255,1) 9%,rgba(95,230,255,1) 11%,rgba(83,217,253,1) 13%,rgba(64,193,228,1) 17%,rgba(61,189,223,1) 20%,rgba(58,180,214,1) 39%,rgba(50,156,184,1) 85%,rgba(43,142,167,1) 91%,rgba(45,139,163,1) 93%,rgba(51,140,163,1) 96%,rgba(56,137,158,1) 98%,rgba(48,113,131,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(82,166,190,1) 0%,rgba(91,236,255,1) 2%,rgba(131,255,255,1) 4%,rgba(133,255,255,1) 7%,rgba(112,247,255,1) 9%,rgba(95,230,255,1) 11%,rgba(83,217,253,1) 13%,rgba(64,193,228,1) 17%,rgba(61,189,223,1) 20%,rgba(58,180,214,1) 39%,rgba(50,156,184,1) 85%,rgba(43,142,167,1) 91%,rgba(45,139,163,1) 93%,rgba(51,140,163,1) 96%,rgba(56,137,158,1) 98%,rgba(48,113,131,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a6be', endColorstr='#307183',GradientType=0 ); /* IE6-9 */
}
.btn-poly.selected, .btn-poly.selected h3 {background-color: rgb(71, 60, 60); color: #d6f1b2}


/* Button gradient
========================*/
.btn-blue {
    background: rgb(225,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 ); /* IE6-9 */

    border-radius: 3px; border: 1px solid gray;
    border:  1px solid rgba(82,166,190,0.6);
    
    color: rgb(16,16,16);
    
}

.btn-blue span {
    float: left;
    margin-right: 5px;
    padding: 0px;
}

.btn-blue:hover {
    border:  1px solid rgb(82,166,190);
    box-shadow: 0px 0px 10px rgb(82,166,190);
}


.btn-red {
    border-radius: 8px;
    background-color: red;
    color: white;
    display: inline-block;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 
        -1px 0px 3px rgba(0,0,0,0.5) inset,
        0px -1px 6px rgba(0,0,0,1) inset;

}
.btn-red .red-top {
    padding: 5px;
    box-shadow: 
        2px 0px 3px rgba(0,0,0,0.5) inset,
        0px 2px 3px rgba(255,255,255,0.5) inset,
        -2px 0px 5px rgba(255,255,255,0.5) inset,
        0px -2px 3px rgba(0,0,0,0.5) inset;
    text-align: center;
}



/************************
    Pagination Style
***********************/
.pagin-nav {
    margin:  0 auto;
    width:  100%;
    padding:  0px 5px;
    box-sizing: border-box;
}
.pagin-nav .lt-icon,.pagin-nav .gt-icon {cursor: pointer; width: 25px; height: 25px; display:inline-block; background-position: 1px 2px ; background-repeat: no-repeat; background-size: cover}
.pagin-nav .lt-icon {background-image:  url(../imgs/3231.png);}
.pagin-nav .gt-icon {background-image:  url(../imgs/3232.png);}



/*Helper classes
===============================*/
.pull-right {
    float:right !important;
}
.pull-left {
    float: left !important;
}

.pull-top-left {
    position: absolute  !important;
    top: 0px;
    right: 0px;
}

.pull-top-right {
    position: absolute !important;
    top: 0px;
    right: 0px;
}

.pull-bottom-left {
    position: absolute !important;
    botton: 0px;
    left: 0px;
}
.pull-bottom-right {
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
}

/* action support
--------------------*/

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.collapse {
    display: none;
}

.expand {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}


/******
    Dropdown Decorator Style
**********/
.arrow-box {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    width:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-box:after, .arrow-box:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-box:after {
    border-left-color: rgb(95, 70, 70);
    border-width: 12px;
    top: 20%;
    margin-top: -5px;
}

.dropdown-box {
    margin: 11px 0px;
    padding: 0px;
}

.dropdown-box:after {
    content: "";
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom: 10px solid #fff;
    border-width: 10px;
    top: -20px;
    left: 10%;

}

/*******************
    Animation and special case
*/

/**Key Animation et-frame*/
@keyframes render {
    from {opacity: 0}
to {opacity: 1}
}
@-webkit-keyframes render {
    from {opacity: 0}
to {opacity: 1}
}
@-moz-keyframes render {
    from {opacity: 0}
to {opacity: 1}
}

.lightbox {
    width:  100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.7);
}

.lightbox .child {
    margin: auto;
}

.popup, .lightbox {
    animation: render 1s ease;
    -webkit-animation: render 1s ease;
    -moz-animation: render 1s ease;
}


@keyframes zoomin {
    from {height: 0px; width: 0px}
to {height: 95px; height: 101px}
}
@-webkit-keyframes zoomin {
    from {height: 0px; width: 0px}
to {height: 95px; height: 101px}
}
@-moz-keyframes zoomin {
    from {height: 0px; width: 0px}
to {height: 95px; height: 101px}
}

.zoom-in {
    width: 80px; height: 80px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.zoom-in:hover {
    width: 120px; height: 120px;
}

/*------------------------------------*/
.arrow-up {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    height:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-up:after, .arrow-up:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-up:after {
    border-bottom-color:red;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
}
.arrow-bottom {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    height:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-bottom:after, .arrow-bottom:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-bottom:after {
    border-top-color:red;
    border-width: 12px;
    right: 50%;
    margin-right: -12px;
}
.arrow-right {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    width:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-right:after, .arrow-right:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-right:after {
    border-left-color:red;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}
.arrow-left {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    width:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-left:after, .arrow-left:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-left:after {
    border-right-color:red;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}

.arrow-up-main {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    height:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-up-main:after, .arrow-up-main:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-up-main:after {
    border-bottom-color:blue;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
}
.arrow-down-main {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    height:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-down-main:after, .arrow-down-main:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-down-main:after {
    border-top-color:blue;
    border-width: 12px;
    right: 50%;
    margin-right: -12px;
}
.arrow-right-main {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    width:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-right-main:after, .arrow-right-main:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-right-main:after {
    border-left-color:blue;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}
.arrow-left-main {
    position: relative; 
    background: rgb(95, 70, 70);
    padding:  5px;
    width:  50px;

    box-shadow: 1px 1px 3px rgba(0,0,0,.5); 
}
.arrow-left-main:after, .arrow-left-main:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-left-main:after {
    border-right-color:blue;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}


